<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Report</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        .panel-heading h3,
        .panel-heading h4 {
            margin: 0;
        }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Specifications</h1>
        {{#stories}}
            <hr>
            <h2 id="{{path}}">{{name}}</h2>
            {{^isTopLevel}}
                <ol class="breadcrumb">
                    {{#breadcrumbs}}
                        <li>{{.}}</li>
                    {{/breadcrumbs}}
                </ol>
            {{/isTopLevel}}
            <p>{{description}}</p>
            <div class="alert alert-info">
                <p>{{{narrative}}}</p>
            </div>
            {{#scenarios}}
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4>{{title}}</h4>
                    </div>
                    <div class="panel-body">
                        {{#steps}}
                            {{.}}<br>
                        {{/steps}}
                    </div>
                </div>
            {{/scenarios}}
        {{/stories}}
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
