<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Specifications</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        body {
            position: relative;
        }
        .story-group {
            margin-bottom: 0;
        }
        .story-heading {
            margin-top: 0;
        }
        .panel-heading h3,
        .panel-heading h4 {
            margin: 0;
        }
        .step {
            margin: 0;
        }
        .examples-table {
            margin-top: 1em;
        }
        .examples-table tr.example-steps td {
            border-top: none;
        }
        #side-nav {
            margin-top: 20px;
        }
        #side-nav .nav li > a {
            border-left: 2px solid white;
        }
        #side-nav .nav li.active > a {
            border-left: 2px solid #563d7c;
        }
        #side-nav .nav > li > a {
            padding-left: 18px;
        }
        #side-nav .nav > li.active > a {
            color: #563d7c;
            font-weight: bold;
        }
        #side-nav .nav .nav > li > a {
            padding: 5px 5px 5px 28px;
            font-size: smaller;
        }
        #side-nav .nav .nav .nav > li > a {
            padding-left: 38px;
        }
        #side-nav ul.nav > li > ul.nav {
            display: none;
        }
        #side-nav ul.nav > li.active > ul.nav {
            display: block;
        }
        #side-nav ul.nav > li > ul.nav > li > ul.nav {
            display: none;
        }
        #side-nav ul.nav > li > ul.nav > li.active > ul.nav {
            display: block;
        }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target="#side-nav" data-offset="0">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <nav id="side-nav" class="hidden-print hidden-sm hidden-xs affix" role="navigation">
                {{#topLevelStoryGroup}}
                    {{> group_navigation }}
                {{/topLevelStoryGroup}}
            </nav>
        </div>
        <div class="col-md-9">
            <div class="col-md-9 col-md-offset-3">
                <h1>Specifications</h1>
            </div>
            {{#topLevelStoryGroup}}
                {{> group_stories }}
            {{/topLevelStoryGroup}}
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
